# Python
**/venv/
**/.venv/
**/__pycache__/
*.py[cod]

# Environment
**/.env
**/.env.*

# Google credentials
**/google_cloud_credentials.json

# Node
**/node_modules/
**/dist/

# SQLite
**/instance/*.db

# Logs
*.log