alembic
APScheduler
asgiref
bcrypt
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
Django
django-cors-headers
django-filter
djangorestframework
djongo
dnspython
docopt
et_xmlfile
Flask
flask-cors
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
flask-talisman
Flask-WTF
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-vision
googleapis-common-protos
greenlet
grpcio
grpcio-status
gspread
gunicorn
httplib2
idna
itsdangerous
Jinja2
legacy-cgi
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
mongoengine
numpy
oauth2client
oauthlib
openpyxl
packaging
pandas
pillow
pipreqs
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
PyJWT
pymongo
pyparsing
python-dateutil
python-dotenv
pytz
razorpay
reportlab
requests
requests-oauthlib
rsa
setuptools
six
SQLAlchemy
sqlparse
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
Werkzeug
WTForms
XlsxWriter
yarg
