.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link-row{
    display: flex;
    gap: 10px;
}
.sub-arrow{
    display: inline-block;
    margin-left: 5px;
    margin-top: 3px;
    width: 10px;
    height: 10px;
    transition: transform 0.3s ease;
}
.header-underline{
    display:block;
    margin-top: 8px;
    height: 2px;
    width: 100%;
    background-color:transparent;
}


.logo img {
    height: 36px;
}

.logo-title{
    margin-left: 10px;
    font-size: 0.7rem;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-list li {
    position: relative;
}

.nav-list a,
.nav-list  {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    cursor: pointer;
}

.nav-item:hover .header-underline {
    display: block;
    background-color: #000000;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 200px;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 8px 20px;
}

.dropdown-menu li a {
    color: #333;
}

.dropdown-menu li a:hover {
    color: #007BFF;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

